name: Keep Render Awake

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest

    steps:
      - name: Ping Render services
        run: |
          echo "=== KEEP ALIVE CHECK START ==="

          echo "---- Auth service ----"
          echo "Pinging: ${{ secrets.RENDER_URL }}"
          curl -L --silent --show-error --fail ${{ secrets.RENDER_URL }}
          echo "Auth service responded"

          echo "---- Notification service ----"
          echo "Pinging: ${{ secrets.JOHAN_RENDER_URL }}"
          curl -L --silent --show-error --fail ${{ secrets.JOHAN_RENDER_URL }}
          echo "Notificaion service responded"

          echo "---- Weather service ----"
          echo "Pinging: ${{ secrets.DAVID_RENDER_URL }}"
          curl -L --silent --show-error --fail ${{ secrets.DAVID_RENDER_URL }}
          echo "Weather service responded"

          echo "---- Subscription service ----"
          echo "Pinging: ${{ secrets.TOMMY_RENDER_URL }}"
          curl -L --silent --show-error --fail ${{ secrets.TOMMY_RENDER_URL }}
          echo "Subcription service responded"

          echo "=== KEEP ALIVE CHECK END ==="
